.flex {
  display: flex
}

.h-11 {
  height: 2.75rem
}

.max-h-11 {
  max-height: 2.75rem
}

.w-6 {
  width: 1.5rem
}

.w-24 {
  width: 6rem
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-full {
  border-radius: 9999px
}

.bg-dark-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(101 119 134 / var(--tw-bg-opacity))
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(29 161 242 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(20 23 26 / var(--tw-bg-opacity))
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(29 161 242 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(245 248 250 / var(--tw-text-opacity))
}
