.absolute {
  position: absolute
}

.top-0 {
  top: 0px
}

.bottom-0 {
  bottom: 0px
}

.left-6 {
  left: 1.5rem
}

.top-1\/2 {
  top: 50%
}

.bottom-1\/2 {
  bottom: 50%
}

.right-4 {
  right: 1rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.h-8 {
  height: 2rem
}

.h-12 {
  height: 3rem
}

.h-16 {
  height: 4rem
}

.h-11 {
  height: 2.75rem
}

.h-6 {
  height: 1.5rem
}

.max-h-8 {
  max-height: 2rem
}

.max-h-11 {
  max-height: 2.75rem
}

.w-8 {
  width: 2rem
}

.w-12 {
  width: 3rem
}

.w-16 {
  width: 4rem
}

.w-full {
  width: 100%
}

.w-6 {
  width: 1.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink {
  flex-shrink: 1
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-evenly {
  justify-content: space-evenly
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-b-light-gray {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(225 232 237 / var(--tw-border-opacity))
}

.border-t-light-gray {
  --tw-border-opacity: 1;
  border-top-color: rgb(225 232 237 / var(--tw-border-opacity))
}

.bg-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(170 184 194 / var(--tw-bg-opacity))
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(29 161 242 / var(--tw-bg-opacity))
}

.bg-light-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(225 232 237 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pt-0 {
  padding-top: 0px
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(20 23 26 / var(--tw-text-opacity))
}

.text-dark-gray {
  --tw-text-opacity: 1;
  color: rgb(101 119 134 / var(--tw-text-opacity))
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity))
}

.text-almost-white {
  --tw-text-opacity: 1;
  color: rgb(245 248 250 / var(--tw-text-opacity))
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
